body {
  background-color: rgb(178, 247, 247);
}
.container {
  margin: 8%;
  font-family: "Ubuntu", sans-serif;
  border: solid;
  border-radius: 10px;
  padding: 10px 20px;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
}
.new-city {
  padding: 10px 5px;
}
.weather-info #city-now {
  font-size: 30px;
}
.weather-info h1 {
  font-size: 50px;
}
.weather-info h2 {
  font-size: 25px;
  text-decoration: none;
  text-transform: capitalize;
  line-height: 1.5em;
}
.time-date-info h3 {
  text-align: right;
  line-height: 1.5em;
  font-size: 20px;
}
.week {
  text-align: center;
  border: solid;
  border-radius: 10px;
  margin: 5px;
}
.weather-icons {
  display: block;
  margin: 10px auto;
  width: 40px;
}
.footer {
  text-align: center;
  font-size: 12px;
}
/* #button-go #button-current {
  background-color: rgb(52, 204, 204);
} */
input {
  background-color: rgb(220, 247, 247);
}

/* input[type="click"],
input[type="submit"] {
  background-color: rgb(52, 204, 204);
} */
