body {
  background-color: rgb(178, 247, 247);
}
.container {
  margin: 8%;
  font-family: "Ubuntu", sans-serif;
  border: solid;
  border-radius: 10px;
  padding: 20px 20px;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
}
form {
  text-align: left;
  padding: 12px;
}
input,
button {
  border-radius: 5px;
}
#updatedTime {
  font-size: 15px;
  text-align: right;
  margin-right: 0px;
}
h1 {
  font-size: 50px;
  text-align: center;
  padding: 30px;
}
h1 #main-weather-icon #unit-icon {
  display: inline;
}
.weather-info {
  font-size: 20px;
  text-align: right;
  text-decoration: none;
  text-transform: capitalize;
  line-height: 2em;
  padding: 30px;
}
.time-date-info {
  font-size: 20px;
  text-decoration: none;
  text-transform: capitalize;
  line-height: 2em;
  padding: 30px;
}

.week {
  text-align: center;
  border: solid;
  border-radius: 10px;
  margin: 5px;
  line-height: 3em;
}
.weather-icons {
  display: block;
  margin: 10px auto;
  width: 40px;
}

.footer {
  text-align: center;
  font-size: 12px;
}
